<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaIoNWSjqtyiCWE8Ndm5eTap6D70YFQ2c</string>
	<key>GCM_SENDER_ID</key>
	<string>114922813238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parfolio.app</string>
	<key>PROJECT_ID</key>
	<string>agentic-coding-project</string>
	<key>STORAGE_BUCKET</key>
	<string>agentic-coding-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114922813238:ios:7791fa5cf6a818bb03a597</string>
</dict>
</plist>